Roomful Project/Library
Roomful Project/Temp
Roomful Project/Roomful Project.sln
Roomful Project/Roomful Project.userprefs
Art Experiments/VR_Tests/
Builds
Roomful Project/Assets/Plugins/StansAssets/Support/Settings/Editor
Editor.meta
StreamingAssets.meta