AssetBundlesPlugin/Library
AssetBundlesPlugin/Temp
AssetBundlesPlugin/Roomful Project.sln
AssetBundlesPlugin/Roomful Project.userprefs
AssetBundlesPlugin/Assets/Plugins/StansAssets/Support/Settings/Editor
Editor.meta
StreamingAssets.meta