RoomfulPublisherProject/Temp
RoomfulPublisherProject/obj
RoomfulPublisherProject/Library
RoomfulPublisherProject/Logs
RoomfulPublisherProject/Assembly-CSharp-firstpass.csproj
RoomfulPublisherProject/net.roomful.api.csproj
RoomfulPublisherProject/RoomfulPublisherProject.sln
RoomfulPublisherProject/Assets/Plugins/Editor
RoomfulPublisherProject/Assets/Plugins/Editor.meta
RoomfulPublisherProject/Assets/Plugins/Roomful/Editor/Bundles
RoomfulPublisherProject/Assets/Plugins/Roomful/Editor/Settings
RoomfulPublisherProject/Assets/Plugins/Roomful/Editor/Bundles.meta
RoomfulPublisherProject/Assets/Plugins/Roomful/Editor/Settings.meta
RoomfulPublisherProject/.idea/.idea.RoomfulPublisherProject/.idea
.DS_Store
